.headerscontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.headercontainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(310deg, rgba(67,44,44,1) 0%, rgba(105,37,37,1) 52%, rgba(71,31,31,1) 100%);
    color: yellow;
    gap: 20px;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav{
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;
}
.headerlist{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right:40px

}
.headerlist li{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    cursor: default;
    color: yellow;
    

}
.searchbar{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
  
}
#search{
    height: 20px;
    width: 250px;
}
#searchicon{
    position: relative;
    right: 30px;
}

#btn{
    height: 25px;
    width: 200px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}
#locationicon{
    position: relative;
    right: 30px;
    height: 20px;
    width: 20px;
}
.carticon{
    cursor: pointer;
    color: yellow;
    height: 30px;
    width: 30px;
    
}

.secondheader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;
    border-bottom: 1px solid black;
    position:relative;
    top: 67px;
    width: 100%;
    background-color: white;
}
.secondheader li{
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;

}
.link{
    text-decoration: none;
    
}
.list:hover{
border-bottom: 1px solid yellow;
color: yellow;
}
.menu{
    display: none;
}

.notification{
    position: absolute;
    background: linear-gradient(310deg, rgba(67,44,44,1) 0%, rgba(105,37,37,1) 52%, rgba(71,31,31,1) 100%);
    border-radius: 50%;
    font-size: small;
    text-align: center;
    width: 20px;
    top: 34px;
    right: 85px;
    border: 1px solid yellow;
}
.cartlink{
    text-decoration: none;
    color: yellow;
}

