.headerscontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.headercontainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(310deg, rgba(67,44,44,1) 0%, rgba(105,37,37,1) 52%, rgba(71,31,31,1) 100%);
    color: yellow;
    gap: 20px;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav{
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;
}
.headerlist{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-right:20px
}
.headerlist li{
    list-style: none;
    font-size: 25px;
    font-weight: 400;
    cursor: default;

}
.searchbar{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
  
}
#search{
    height: 20px;
    width: 250px;
}
#searchicon{
    position: relative;
    right: 30px;
}

#btn{
    height: 25px;
    width: 200px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}
#locationicon{
    position: relative;
    right: 30px;
    height: 20px;
    width: 20px;
}
#carticon{
    cursor: pointer;
}
.secondheader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;
    border-bottom: 1px solid black;
    position:relative;
    top: 67px;
    width: 100%;
    background-color: white;
}
.secondheader li{
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;

}
@media(max-width:768px){
    .headercontainer{
     gap: 0;
     padding: 10px;
    }
    nav{
        margin: 0;
    font-size: 15px;
    width: 80px;
    }
    .secondheader{
     display: none;
    }
    .searchbar{
        display: none;
    }
    .headerlist{
        margin-right: 0;
    }
    .headerlist li{
        font-size: 12px;
    }
}