.container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
  padding-bottom: 50px;
  margin-top: 60px;
}
.imagecontainer{
    width: 400px;
    padding: 10px;

}
.image{
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
    height: 380px;
    width: 400px;
    
  }
  .font{
    font-size: 30px;
  }
  .fontupgrade{
    font-size: 20px;
    margin-top: 5px;
  }
  .icon{
    color: white;
    position: relative;
    right: 30px;
    top: 2px;
  }
  .btn{
    background-color: green;
    width: 70px;
    text-align: left;
    color: white;
  }
  .images{
    height: 100px;
    width: 100px;
  }
  .images:hover{
    opacity: 0.5;
  }
  .imagecontainer{
    display: flex;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form{
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  .inputstyle{
    height: 25px;
    width: 30%;
  }
  .iconscontainer{
    display: flex;
    padding-top: 20px;
    gap: 10px;
    padding-bottom: 30px;
  }
  .cart{
    width: 40%;
    height: 40px;
    align-content: center;
    text-align: center;
    background-color: green;
    color: white;
  }
  .iconcart{
    position: relative;
    right: 70px;
    top: 10px;
    height: 20px;
    width: 20px;
    color: white;
  }
  .buy{
    width: 40%;
    height: 40px;
    align-content: center;
    text-align: center;
    background-color: orangered;
    color: white;
  }
  .iconcart{
    position: relative;
    right: 70px;
    top: 10px;
    height: 20px;
    width: 20px;
    color: white;
  }
  .description{
    font-size: 30px;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 2px;
    margin-bottom: 10px;
  }
  .lists{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 5px;
  }
  .listtwo{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
  }