.ocasioncontainer{
    height: 550px;
    background-color: rgb(94, 36, 36);
}
.ocasioninfo{
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 50px;
}
.ocasions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;

}
.ocasion{
 text-align: center;
    font-size: 25px;
    color: white;
}
.image{
    height: 280px;
    width: 350px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
@media(max-width:768px){
    .ocasioncontainer{
        height: 100%;
        padding-bottom: 20px;

    }
    .ocasioninfo{
        font-size: 30px;
        padding-top: 25px
    }
    .ocasions{
        padding-top: 25px;
    }
}