.cakescontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 30px;
}

.cake{
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    color:black;
    font-size: medium;
}
.cake:hover{
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}
.rating{
    display: flex;
    justify-content: space-between;
  
}
.image{
    height: 280px;
    width: 300px;
  }
  .btn{
    background-color: green;
    width: 70px;
    text-align: left;
    color: white;
  }
  .btn:hover{
    background-color: lightgreen;
    color: black;
  }
  .icon{
    color: white;
    position: relative;
    right: 30px;
    top: 2px;
  }
  .link{
    color: black;
    text-decoration: none;
  }
  /* .image:hover{
    scale:1.1;
    transition: ease-in-out; 
  } */
