.container{
    margin-top: 60px;
    background: linear-gradient(180deg, rgba(108,23,23,1) 0%, rgba(220,49,49,1) 100%);
    padding-bottom: 20px;

}
.underinfo{
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.cakescontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 30px;
}
.cake{
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}
.cake:hover{
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}
.rating{
    display: flex;
    justify-content: space-between;
  
}
.image{
    height: 280px;
    width: 300px;
  }
  .btn{
    background-color: green;
    width: 70px;
    text-align: left;
    color: white;
  }
  .btn:hover{
    background-color: lightgreen;
    color: black;
  }
  .icon{
    color: white;
    position: relative;
    right: 30px;
    top: 2px;
  }
  .link{
    color: black;
    text-decoration: none;
  }
  .productcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (max-width: 720px) {
  .container{
    margin-top: 40px;
  }
  .underinfo{
    font-size: 30px;
    padding-top: 20px;
  }
  .productcontainer{
    gap: 0;
  }
}