.cartcontainer{
    margin-top: 60px;
    background: linear-gradient(180deg, rgba(108,23,23,1) 0%, rgba(220,49,49,1) 100%);
    padding-bottom: 20px;
}
.cartTitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.product{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    
}
.productinfo{
    width: 300px;
}
.name{
    font-size: 30px;
}
.size{
    background: linear-gradient(180deg, rgba(108,23,23,1) 0%, rgba(220,49,49,1) 100%);
    color: white;
    display: inline-block;
    padding: 5px;
}
.price{
    font-weight: 900;
}
.cartimage{
    height: 100px;
    width: 100px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}
.container{
margin: 20px;
}
.quantity{
    height: 40px;
    margin-left: 200px;
    margin-right: 200px;
    
}
.deleteicon{
    height: 40px;
    width: 40px;
    
}
.cartTotal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
.btn{
    width:400px;
    height: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-right: 40px;
}
@media only screen and (max-width: 720px) {
    .cartcontainer{
        margin-top: 40px;
    }
    .cartTitle{
        text-align: center;
        font-size: 25px;
        color: white;
    }
    .cartimage{
        margin-left: 10px;
    }
    .productinfo{
        width: 200px;
        margin-left: 20px;
    }
    .product{
        gap: 0;
        padding-bottom: 10px;
        
    }
    .name{
        font-size: 20px;
    }
    .quantity{
        margin-left: 10px;
        width: 100px;
        height: 30px;
    }
   
    .deleteicon{
        position: relative;
        left: 280px;
    }
    .btn{
        width: 300px;
        margin-right:0;
        margin-left: 40px;
    }
}